html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
}
/* Structure the Header */

#headerWrapper {
    display: flex;
    border: 1px solid green;
    width: 100%;
}

#header {
    margin: 0 auto;
    width: 1105px;

}

h1 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    padding: 0px;
}

nav ul a {
    padding: 10px;
}

/* Structure the Page */

#pageWrapper {
    display: block;
    border: 1px solid red;
    width: 100%;
}

#page {
    display: flex;
    border: 1px solid green;
    flex-direction: column;
    width: 1105px;
    margin: 0 auto;
    text-align: center;
}

/* Main Content Section */ 

#imagesubtext {
    width: 700px;
    margin: 0 auto;
}

/* Featured Products Section */

#featured-products {
    display: flex;
    flex-direction: row;
}


/* Structure the Footer */

#footerWrapper {
    display: flex;
    border: 1px solid green;
    width: 100%;
}